.navbar {
    display: flex;
}
.navbar-links {
    width: 95%;
    height: 6rem;
  
    border-bottom: solid 1px white;
    display: flex;
    justify-content: space-evenly;

}

.navbar-github {
    margin-top: 1rem;
}

.navbar-github img {
    width: 135px;
}

.navbar-linkedin {
    margin-top: 1rem;
}

.navbar-linkedin img{
    margin-top: 1.3rem;
    width: 175px;
}

.navbar-da {
    margin-top: 1rem;
}
    
.navbar-da img{
    margin-top: .5rem;
    width: 122px;
}

.navbar-mwvo {
    margin-top: 1.3rem;
}
        
.navbar-mwvo img{
    width: 168px;
}
    
.navbar-shift {
    margin-top: 1rem;
}
            
.navbar-shift img{
    width: 254px;
}

.navbar-rhit {
    border-bottom: solid 1px white;
}

.navbar-rhit img {
    margin: 1rem;
    width: 60px;
    
}
    
a:link {
    text-decoration: none;
}

.navbar-links a:hover{
    margin-top: .5rem;
}