#AboutMe {
    margin-top: 4.7rem;
    background: rgb(35,144,181);
    height: 56rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.about {
    display: flex;
    flex-direction: column;
}

.about-img{
    width: 200px;
    border-radius: 50%;
    margin: auto;
}

.about-text {
    color: #fff;
    letter-spacing: 1px;
    line-height: 2rem;
    font-size: 1.5rem;
    width: 85vw;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 4rem;
}


.about-resume-wrap {
    margin: auto;
    width: 15%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    border-top: solid 1px rgba(248, 244, 244, 0.527);
    border-bottom: solid 1px rgba(248, 244, 244, 0.527);
}

.about-download {
    margin: auto;
    margin-top: 5px;
    color: white;
    font-size: .6rem;
}


.about-resume {
    margin: auto;
    color: white;
    text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25);
    text-align: center;
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.about-arrow {
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1rem;
}

.about-arrow a {
    display: inline-block;
    width: 10rem;
    height: 4rem;
    margin: auto;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.7rem;
    text-align: center;
    padding-top: .4rem;
    color: rgb(51,96,119);
    border-radius: 50px;
    background:white;
}

.about-arrow a:hover{
    width: 12rem;
    height: 5rem;
    font-size: 2rem;
}

.about-arrow img {
    margin: auto;
    width: 73px;
}