.main-content {
    height: 43rem;
}
header {
    color: white;
    text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25);
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
}

#main-header header h1 {
    margin: auto;
    font-weight: 600;
    font-size: 2em;
    letter-spacing: 10px;
    text-transform: uppercase;
    line-height: 1.75em;
    animation: fadein 12s;
}

.main-lines {
    border-top: solid 1px rgba(248, 244, 244, 0.527);
    border-bottom: solid 1px rgba(248, 244, 244, 0.527);
    width: 20%;
    height: 1rem;
    text-align: center;
    margin: auto;
    animation: fadein 11s;
}

header p {
    margin-top: .5rem;
    text-transform: uppercase;
    animation: fadein 12s;
}

footer {
    display: flex;
    justify-content: center;
}

.main-arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: fadein 15s;
}

.main-arrow a {
    display: inline-block;
    width: 10rem;
    height: 4rem;
    margin: auto;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2.5;
    text-align: center;
    color: rgb(51,96,119);
    border-radius: 50px;
    background:white;
}

.main-arrow a:hover{
    width: 12rem;
    height: 5rem;
    font-size: 2rem;
}

.main-arrow img {
    padding-top: 1rem;
    margin: auto;
    width: 73px;
}